@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Barlow;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: Fraunces;
  }
}
